.accordion-header {
  display: block !important;
  padding: 0.5rem;
}

.mat-expansion-panel-header {
  height: auto !important;
}

.mat-expansion-panel {
  margin-bottom: 0.5em !important;
}

.header {
  font-weight: bold;
  color: rgb(60, 60, 60);
}
  