.mat-elevation-z8 {
    margin-top: 3rem;
  
    th {
      background-color: #003040;
      color: #fff;
      cursor: default;
    }
    tr {
      cursor: pointer;
      
      transition: 0.2s;
      &:hover {
        background: #82acba !important;
        
      }
  
      &:nth-child(even) {
        background: #ffffff;
      }
      &:nth-child(odd) {
        background: #f0efef;
      }
    }
  }
  